
.selected-image {
    width: 358px;
    height: 232px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.selected-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails {
    display: flex;
    gap: 10px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    position: relative; 
}

.image {
    width: 80px;
    height: 66px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s; 
}

.image:hover {
    opacity: 0.4; 
}

.selected-thumbnail {
    opacity: 0.4;
}