.header_top {
    margin: 0%;
    padding: 0%;
    height: 33px;
    background-color: #F19D2F;
    color: #2C2B31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham Pro;
    font-size: 12.69px;
    font-weight: 400;
    line-height: 12.15px;
}

.header_logo {
    margin: 0%;
    padding: 0%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD1AC;
}