.rating_text {
    margin-top: 1%;
    margin-left: 50px;
}

.rating_text_1 {
    font-family: Gotham Pro;
    font-weight: 700;
    font-size: 15.29px;
    line-height: 14.63px;
    color: #000000;
}

.rating_text_2 {
    font-family: Gotham Pro;
    font-weight: 400;
    font-size: 15.29px;
    line-height: 14.63px;
    color: #000000;
}

.rating_stars {
    margin-left: 50px;
    margin-bottom: 0%;
    font-family: Gotham Pro;
    font-weight: 400;
    font-size: 15.29px;
    line-height: 14.63px;
    color: #2C2B31;
}

.stars {
    color: gold;
}